*{
	margin: 0;
	padding: 0;
}

.header{
	width: 100%;
	height: 65px;
	position: fixed;
	background: white;
}
.header img{
	width: 135px;
    padding-top: 15px;
    padding-left: 140px;

}

.menu{
	float: right;
    margin-right: 60px;
    margin-top: 25px;
    padding-right: 0px;
}

.menu a{
	padding-right: 20px;
	color: #d60f63;
	text-decoration: none;
}

.banner{
	background: url('../image/banner.jpg');
	width: 100%;
	height: 597px;
	background-size: cover;
}
.banner h1{
    text-align: center;
    padding-top: 200px;
    color: snow;
}
.banner h5{
	padding-top: 12px;
    padding-left: 105px;
}

.location{
	background-color: rgba(0,0,0,.5);
	margin-top: 262px;
	width: 100%;
	height: 60px;
}

.flag{
	float: right;
    padding-right: 100px;
    position: relative;
    bottom: 18px;
}

.flag img{
	border-radius: 12px;
	padding: 0 5px;
}

.about{
	text-align: center;
	background: #FFD;
	width: 100%;
	height: 500px;
	color: #333;
    font-family: serif;
}

.about h3{
	background: #d70f64;
    color: white;
    font-size: 23px;
    padding: 10px;
    width: 200px;
    margin-top: 45px;
}

.about h1{
    color: #fc0e77;
    margin-top: 110px;
}

.join{
	text-align: center;
	background: url('../image/banner2.jpg');
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 500px;
	color: #333;
    font-family: serif;
}

.join h3{
	background: #d70f64;
    color: white;
    font-size: 23px;
    padding: 10px;
    width: 200px;
    margin-top: 45px;
}

.join h1{
    color: #fc0e77;
    margin-top: 110px;
}

.latest{
	text-align: center;
	background: url('../image/banner3.jpg');
	background-attachment: fixed;
	width: 100%;
	height: 500px;
	color: #333;
    font-family: serif;
}

.latest h3{
	background: #d70f64;
    color: white;
    font-size: 23px;
    padding: 10px;
    width: 250px;
    margin-top: 45px;
}

.latest h1{
	color: #fc0e77;
    margin-top: 110px;
}

.contact{
	text-align: center;
	background: #d70f64;
	width: 100%;
	height: 500px;
	color: #333;
    font-family: serif;
}

.contact h3{
	background: white;
    color: #d70f64;
    font-size: 23px;
    padding: 10px;
    width: 250px;
    margin-top: 45px;
}

.contact h1{
	color: white;
    margin-top: 110px;
}

.footer{
	width: 100%;
	height: 130px;
}

.footer img{
	width: 180px;
    margin-left: 60px;
}

.footer p{
	margin-left: 67px;
    margin-top: -5px;
}