*{
margin: 0px;
padding: 0px;
}
.header{
background: #343434;
height: 144px;
width: 100%;
}
.header img{
    margin-top: 30px;
    margin-left: 90px; 
}

.menu{
background: #5B89B8;
width: 100%;
height: 45px;
}

.menu a{
    text-decoration: none;
    color: white;
    margin-left: 45px;
    font-weight: bold; 
    line-height: 42px;
}

.alpha{
    margin-left: 5px;
    border: 0px solid;
    background: #5b89b8;
    width: auto;
    height: 30px;
    float: left;
}

.alpha a{
    text-decoration: none;
    line-height: 30px;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
    color: white;
}

.name{
    margin-top: 23px;
    margin-left: 100px;
    font-size: 44px;
} 



.footer_1{
    border: 0px solid;
    margin-top: 10%;
    background: #343434;
    width: 100%;
    height: 35px;
}

.footer_2{
    color: #f0f8ff;
    font-size: 12px;
    background: black;
    border: 0px solid;
    width: 100%;
    height: 130px;
}
.footer_2 a{
    text-decoration: none; 
    line-height: 46px;
    color: #208997;
}