*{
	margin: 0;
	padding: 0;
}

.start{
	width: 100%;
	height: 25px;
	background: black;
	position: fixed;
	color: white;
	text-align: center;
}

.header{
	width: 100%;
	height: 150px;
	background: white;
	position: fixed;
}

.menu{
	Float: right;
    margin-top: 40px;
    margin-right: 70px;
}

.menu a{
	padding: 0 14px;
	color: black;
	text-decoration: none;
	font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.menu a:hover{
	color: #931919;
}

.header img{
	width: 125px;
    margin-top: 42px;
    margin-left: 70px;
}

.banner img{
	width: 100%;
	height: 700px;
}

.product0{
	width: 1200px;
	height: 600px;
	margin: auto;
	margin-top: 20px;
}
.product1 img{
	margin: 10px;
	float: left;
	width: 280px;
	height: 280px;
}

.product00{
	width: 1200px;
	height: 1200px;
	margin: auto;
	margin-top: -100px;	
}

.product01 img{
	margin: 10px;
	float: left;
	width: 580px;
}

.email{
	margin-top: 30px;
	width: 100%;
	height: 200px;
	background: black;
	color: white;
	text-align: center;
}

.footer{
	width: 100%;
	height: 500px;
}

.footer1{
	width: 301px;
	height: 400px;
	/*background: red;*/
	margin-left: 60px;
    margin-top: 48px;
    float: left;
}
.footer1 a{
	text-decoration: none;
	color: gray;
	line-height: 25px;
}